<header>
    <a class="home" href="/">Reuse Me!</a>
    <div class="midspace"></div>
    <a class="head-button" href="/sell/">Jual</a>
    <a class="head-button" href="/">Beli</a>
    <a class="head-button" href="/login/">Daftar</a>
</header>
